Repository vadolasi/teste-backend-ttz: changes, and which lefthook commands are due for each by the changed paths.
All: check, test, test-e2e, test-cov

check:
  run: pnpm exec biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

test:
  run: pnpm exec jest --passWithNoTests --colors=off --findRelatedTests {staged_files}

test-e2e:
  run: pnpm exec jest --passWithNoTests --colors=off --findRelatedTests {staged_files} --config ./test/jest-e2e.json

test-cov:
  run: pnpm exec jest --passWithNoTests --colors=off --coverage --findRelatedTests {staged_files}

feat: adicionar configuração do banco de dados
  compose.yaml
  package.json
  pnpm-lock.yaml
  src/app.module.ts
Due: check

feat: adicionar configuração do banco de dados
  compose.yaml
Due: none

feat: adicionar configuração do Redis
  compose.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.module.ts
Due: check

chore: adicionar configuração para permitir executar migrations
  compose.yaml
  package.json
  src/typeorm.config.ts
Due: check

feat: criar modulo "events" e sua entidade principal
  src/app.module.ts
  src/events/entities/event.entity.ts
  src/events/events.controller.spec.ts
  src/events/events.controller.ts
  src/events/events.module.ts
  src/events/events.service.spec.ts
  src/events/events.service.ts
  src/migrations/1754881729972-create-events.ts
Due: check, test, test-cov

feat: adicionar upload e processamento de arquivo de log
  .gitignore
  package.json
  patches/fastify-multer.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/app.module.ts
  src/events/entities/event.entity.ts
  src/events/events.controller.spec.ts
  src/events/events.controller.ts
  src/events/events.module.ts
  src/events/events.service.ts
  src/events/ingestion.processor.ts
Due: check, test, test-cov

feat: adicionar endepont de leitura dos últmos eventos
  package.json
  pnpm-lock.yaml
  src/app.module.ts
  src/events/dto/event.dto.ts
  src/events/dto/get-last-events.dto.ts
  src/events/entities/event.entity.ts
  src/events/events.controller.spec.ts
  src/events/events.controller.ts
  src/events/events.module.ts
  src/events/events.service.ts
  src/main.ts
Due: check, test, test-cov

feat: adicionar endepont de leaderboard
  src/events/entities/leaderboard.dto.ts
  src/events/events.controller.ts
  src/events/events.service.ts
Due: check, test, test-cov

feat: adicionar endepoint de estatisticas do jogador
  src/events/entities/leaderboard.dto.ts
  src/events/entities/player-stats.dto.ts
  src/events/events.controller.ts
  src/events/events.service.ts
Due: check, test, test-cov

feat: adicionar endepoint de items mais coletados
  src/events/dto/leaderboard.dto.ts
  src/events/dto/player-stats.dto.ts
  src/events/dto/top-item.dto.ts
  src/events/events.controller.ts
  src/events/events.service.ts
  src/main.ts
Due: check, test, test-cov

feat: adicionar endepoint da listagem de jogadores
  src/events/dto/player.dto.ts
  src/events/events.controller.ts
  src/events/events.service.ts
Due: check, test, test-cov

refactor: mover processamento do arquivo de log para o processor
  src/events/events.service.ts
  src/events/ingestion.processor.ts
Due: check, test, test-cov

perf: adicionar cache nas respostas da api
  src/events/events.controller.ts
  src/events/ingestion.processor.ts
Due: check, test, test-cov

fix: arrumar configuração do cache
  src/app.module.ts
  src/events/events.module.ts
Due: check, test, test-cov

chore: incluir configuração do Docker para a api
  .dockerignore
  Dockerfile
  compose.test.yaml
  package.json
Due: check

docs: adicionar observações no README
  README.md
Due: none

fix: executar migrations ao iniciar o servidor em produção
  Dockerfile
  src/app.module.ts
  src/main.ts
Due: check

docs: adicionar observações adicionais no README
  README.md
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  test: any of: src/**/*.ts
  test-e2e: any of: test/**/*.ts,src/**/*.ts
  test-cov: any of: src/**/*.ts
